# Documentation
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file
version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
    labels:
      - "no changelog"
    groups:
      actions-infrastructure:
        patterns:
          - "actions/*"
    cooldown:
      default-days: 14

  - package-ecosystem: 'gitsubmodule'
    directory: '/'
    schedule:
      interval: 'monthly'
    labels:
      - "no changelog"
    cooldown:
      default-days: 14
