yarn-error.log
node_modules/
.DS_Store
npm-debug.log
.idea/
.ipynb_checkpoints
!/package-lock.json
package-lock.json
.nyc_output/
coverage/
__pycache__/
dist/
*.egg-info/
bids-validator-web/out/
.next/

# Only use global yarn.lock
bids-validator/yarn.lock
bids-validator-web/yarn.lock
.vscode/

*.swp
