[submodule "bids-examples"]
	path = bids-validator/tests/data/bids-examples
	url = https://github.com/bids-standard/bids-examples.git
[submodule "bids-validator/spec"]
	path = bids-validator/spec
	url = https://github.com/bids-standard/bids-specification.git
