Adam Thomas <git@adamthomas.us>
Adam Thomas <git@adamthomas.us> <github@adamthomas.us>
Brian Grass <brian@squishymedia.com>
Brian Grass <brian@squishymedia.com> <bGrass@users.noreply.github.com>
Chris Holdgraf <choldgraf@berkeley.edu>
Chris Holdgraf <choldgraf@berkeley.edu> <choldgraf@gmail.com>
Christopher J. Markiewicz <markiewicz@stanford.edu>
David Nishikawa <david@squishymedia.com>
David Nishikawa <david@squishymedia.com> <28666458+DaNish808@users.noreply.github.com>
Dianne Patterson <dkp@email.arizona.edu>
Eduard Ort <e.ort@vu.nl>
Gregory Noack <greg@squishymedia.com>
Gregory Noack <greg@squishymedia.com> <gregorynoack@thinknoack.com>
Joke Durnez <joke.durnez@gmail.com>
Joseph Wexler <jbwexler@hushmail.com>
Krzysztof J. Gorgolewski <krzysztof.gorgolewski@gmail.com>
Matthew Zito <matthewtzito@gmail.com>
Matthew Zito <matthewtzito@gmail.com> <47864657+MatthewZito@users.noreply.github.com>
Mikaël Naveau <naveau.mikael@gmail.com>
Mikaël Naveau <naveau.mikael@gmail.com> <naveau@cyceron.fr>
Nell Hardcastle <nell@dev-nell.com>
Nell Hardcastle <nell@dev-nell.com> <nell@squishymedia.com>
Parul Sethi <parul1sethi@gmail.com>
Ross Blair <rosswilsonblair@gmail.com>
Robert Oostenveld <r.oostenveld@gmail.com>
Robert Oostenveld <r.oostenveld@gmail.com> <r.oostenveld@donders.ru.nl>
Ross Blair <rosswilsonblair@gmail.com> <rblair2@stanford.edu>
Russell Poldrack <poldrack@gmail.com>
Soichi Hayashi <hayashis@iu.edu>
Soichi Hayashi <hayashis@iu.edu> <soichih@gmail.com>
Suyash Bhogawar <suyashdb@gmail.com>
Suyash Bhogawar <suyashdb@gmail.com> <admin@psy-qp02708q5pm.stanford.edu>
Suyash Bhogawar <suyashdb@gmail.com> <suyashdb@login1.ls5.tacc.utexas.edu>
Teal Hobson-Lowther <teal@squishymedia.com>
Teal Hobson-Lowther <teal@squishymedia.com> <tealhobsonlowther@gmail.com>
Travis Riddle <riddlet@gmail.com>
Wazeer Zulfikar <wazeer.zulfikar@gmail.com>
Yaroslav O. Halchenko <debian@onerussian.com>
Zack Michael <zack@squishymedia.com>
Zack Michael <zack@squishymedia.com> <constellates@users.noreply.github.com>
Zack Michael <zack@squishymedia.com> <zachary0michael@gmail.com>
Zack Michael <zack@squishymedia.com> <zack@squishmedia.com>
