repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # v6.0.0
    hooks:
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-symlinks
        exclude: tests/data/broken-symlink
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: trailing-whitespace
  - repo: https://github.com/nozaq/pre-commit-deno
    rev: db9b2333832fdbbb36b9c36d252cd52c2f9d41dc # 0.1.0
    hooks:
      - id: deno-fmt
