body {
  font-size: 14px;
}

h4 {
  font-size: 18px;
}

label {
  font-weight: bold;
}

h5 {
  font-size: 14px;
}

.page-wrapper {
  padding-top: 80px;
}

form.options label {
  margin: 0;
  padding-right: 2rem;
  font-weight: normal;
}
form.options input {
  margin-right: 0.4rem;
}

.validation-error {
  position: relative;
}
.validation-error > .card-header > .file-header > .pull-right {
  position: absolute;
  top: 15px;
  right: 15px;
}

.validation-error > .card-body > .file-header,
.pull-right {
  float: right;
  top: 15px;
  right: 15px;
}

.issues {
  .validation-messages {
    padding-top: 20px;
  }
  button > span {
    float: right;
  }
  .issue {
    border-bottom: 1px solid #ccc;
    .pull-right {
      font-size: 14px;
    }
  }
  .issue:last-child {
    border-bottom: none;
  }
  .issues-view-more {
    padding-top: 15px;
    button {
      border: none;
      background: none;
      color: #337ab7;
      font-size: 18px;
    }
    button:hover {
      text-decoration: underline;
      color: #23527c;
    }
  }
}

.upload-panel > .alert,
.error-header {
  cursor: pointer;
}

.summary {
  font-size: 14px;
}

.error-log {
  margin-bottom: 10px;
}

.loading-wrap {
  padding: 20px 0 30px;
  text-align: center;
  position: relative;
  span {
    text-transform: uppercase;
    margin-top: 5px;
    display: block;
    font-size: 12px;
    color: #337ab7;
  }
  .spinner,
  .spinnerinner {
    position: relative;
    border: 4px solid #337ab7;
    border-color: transparent #337ab7;
    margin: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0;
  }

  .spinner {
    animation: spin 4s linear 0s infinite normal;
    margin: 0 auto;
  }

  .spinnerinner {
    border-width: 2px;
    margin: 21%;
    padding: 0;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 60%;
    height: 60%;
    animation: innerspin 1s linear 0s infinite normal;
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes innerspin {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
