.summary {
  text-align: left;
  .column {
    float: left;
    width: 33.33%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
}
